*, *:before, *:after
    box-sizing: border-box

html
    background-color: #FFDD21
    font-size: 66.6%
    font-family: 'Roboto', serif
    letter-spacing: 1px

html, html a
    -webkit-font-smoothing: antialiased
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004)

.container
    width: 900px
    margin: 10px auto