header
    .right, .left
        float: left
        display: inline-block
        margin-top: 6em

    .left
        float: left
        width: 62%
        text-align: left
        h1
            font-family: 'Sacramento', cursive
            // margin-bottom: 1em
            margin-bottom: 0
            margin-top: 0.3em
            font-size: 10em
            color: #fff
            font-weight: 900
            text-shadow: 4px 4px #D5BD15

    .right
        width: 30%
        float: left
        padding-top: 12em
        margin-left: 6em
        .logo
            margin-bottom: 1em
        .pure-button
            margin-left: 0.8em