header
    text-align: center

    .logo
        margin-bottom: 30px
    h1
        font-family: 'Sacramento', cursive
        margin-bottom: 20px
        font-size: 8em
        color: #fff
        font-weight: 900
        text-shadow: 4px 4px #D5BD15